.app-container {
  font-family: Georgia, Times, Serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-title {
  font-size: 2.5rem;
  color: white;
}

.App-header {
  display: flex;
  justify-content: space-between; /* or: flex-start / center / etc. */
  align-items: center;
  background-color: #222;
  padding: 1rem;
  background-color: black;
}

.Header-link {
  font-size: 2rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
